.suc_container {
   width: 400px;
   height: 350px;
   display: flex;
   background-color: #fff;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   padding: 30px;
   transition: all .3s;
}
.suc_container:hover {
    margin-bottom: 10px;
}
.suc_logo {
    display: flex;
    align-items: center;
}
.suc_text {
    font-size: 18px;
    color: #969696;
    line-height: 30px;
}
.suc_icon {
    width: 60px;
}
.suc_logo_icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 100%;
    border:1px solid #f3f3f3;
}
.suc_logo_text {
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;
}
.suc_logo_name {
    font-size: 20px;
    font-weight: bold;
    color: #373737;
}