.cases_container {
    width: 90%;
    margin: 0 auto;
    opacity: 0;
}

.case_cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}
.cc_name {
    font-size: 14px;
    color: #373737;
}
@keyframes showCases {
    0% {
        opacity: 0;
        margin-top: 150px;
    }
    100% {
        opacity: 1;
        margin-top: 80px;
    }
}